.eventos{
    background: #f3f3f3;
    padding: 10;
    overflow: hidden;
}

.card{
    width: 32;
    float: left;
    margin-right: 1%;
}

.card img{
    width: 100%;
    height: 180px;
}

.card p{
    font-size: 14px;
}
